* {
    margin: 0;
    padding: 0;
    border: 0 none;
}

html {
    height: 100%;
}

body {
    height: 100%;
    min-height: 100%;
    position: relative;
    text-align: center;
    background-color: #f8f8f8;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 200;
}

.app {
    position: relative;
    background-color: #fff;
    z-index: 1;
    width: 300px;
    margin: 0 auto;
    padding: 0;
}

.header {
    padding: 1.15rem 0 1.75rem 1.25rem;
    text-align: left;
    background-color: #f4f4f4;
}

.header h2 {
    color: #666;
    font-weight: 200;
}

.header h2 span {
    display: inline-block;
    vertical-align: middle;
}

.header h2 span:nth-child(2n) {
    vertical-align: bottom;
    transform: rotate(15deg);
    margin: 0 .1rem;
}

.header h2 b {
    color: orange;
    text-transform: uppercase;
}

.result {
    cursor: pointer;
    padding: 0.625rem 0.25rem 0.75rem;
    position: absolute;
    right: 0.25rem;
    text-align: center;
    top: 0.25rem;
    z-index: 2;
}

.result:hover {
    background-color: #f4f4f4;
}

.result:hover p span {
    color: #3f6cb4 !important;
}

.result:hover .dashed {
    color: #000 !important;
}

.result p {
    line-height: 2rem;
}

.result .dashed {
    display: block;
    padding: .1rem 0;
    font-size: .5rem;
    color: #888;
}

.result p span {
    background-color: #f4f4f4;
    color: orange;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 300;
    height: 2rem;
    vertical-align: top;
    width: 1.3rem;
}

.me {
    position: relative;
}

.me:after {
    bottom: 1.75rem;
    color: #000;
    content: "я";
    display: block;
    font-size: 0.45rem;
    left: 0.5rem;
    line-height: 1;
    margin-top: -0.1rem;
    position: absolute;

}

.mask:before {
    background: #fff;
    content: "";
    display: inline-block;
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
}

table {
    margin: 0 auto;
    border: 2px solid #fff;
    background-color: #f1f1f1;
    padding: 12px;
    border-radius: 5px;
    position: relative;
    z-index: 1;
}

.x {
    color: #0bc1fe;
}

.o {
    color: #e9006d;
}

.dashed {
    text-decoration: none;
}

.dashed span {
    border-bottom: 1px dashed !important;
}

.content {
    width: 100%;
    margin: 0 auto;
    padding: 20px 0 40px;
}

.content td {
    padding: 1px;
}

.content.game-over table:after {
    position: absolute;
    width: 100px;
}

a, p, span {
    line-height: 1.2;
}

a:hover {
    color: #0bc1fe;
}

.btn {
    border: 1px solid;
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    font-size: 1rem;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.btn.o, .btn.x, .btn.o:active, .btn.x:active, .btn.o:hover, .btn.x:hover {
    background-color: transparent;
}

.btn.win {
    background-color: #000;
}

.btn:active, .btn:hover {
    background-color: #fff;
}

.controls {
    width: 100%;
    margin: 0 auto 0;
    padding: 0;
}

.controls .btn {
    width: auto;
    height: auto;
    text-align: center;
    font-size: .75rem;
    display: inline-block;
    padding: 0.5rem;
    margin-top: 2rem;
}

.controls .btn.x:hover, .controls .btn.x:active, .controls .btn.x.pressed {
    color: #fff !important;
    background-color: #0bc1fe;
}

.controls .btn.o:hover, .controls .btn.o:active, .controls .btn.o.pressed {
    color: #fff !important;
    background-color: #e9006d;
}

.status {
    margin: 0 0 0.5rem;
    padding: 0.5rem;
    background-color: #ffe;
    position: relative;
}

.status a.close {
    color: #ccc;
    display: inline-block;
    font-size: 0.75rem;
    height: 1rem;
    line-height: 1rem;
    padding: 0.1rem;
    position: absolute;
    right: 0;
    text-align: center;
    text-decoration: none;
    top: 0;
    vertical-align: middle;
    width: 1rem;
}

.status a.close:hover {
    color: orange;
}